
.tips-text {
	font-size: 0.9em;
}

.developer-markdown {
	font-size: 0.8em;
	color: gray;
}

.text-center {
	text-align: center;
}

.em-tips-timer-sec {
    font-size: 2em;
    color: gray;
}

.em-tips-timer-minhour {
    font-size: 4em;
    color: blue;
}

