
.tips-text {
	font-size: 0.9em;
}

.developer-markdown {
	font-size: 0.8em;
	color: gray;
}

.text-center {
	text-align: center;
}

.em-tips-timer-sec {
    font-size: 3em;
    color: gray;
}

.em-tips-timer-minhour {
    font-size: 3em;
    color: green;
}

.logo-300px {
    position: absolute;
    float: left;
    height: 300px;
    width: 300px;
}

.logo-achievement {
    background-image: url('../logo/logo-achievement.png'); 
    background-size: 10% 10%;
    background-repeat: no-repeat;
}

.logo-duration {
    background-image: url('../logo/logo-duration.png'); 
    background-size: 10% 10%;
    background-repeat: no-repeat;
}

.logo-energy {
    background-image: url('../logo/logo-energy.png'); 
    background-size: 10% 10%;
    background-repeat: no-repeat;
}

.logo-co2reduction {
    background-image: url('../logo/logo-co2reduction.png'); 
    background-size: 10% 10%;
    background-repeat: no-repeat;
}

.logo-power {
    background-image: url('../logo/logo-power.png'); 
    background-size: 10% 10%;
    background-repeat: no-repeat;
}

.logo-current {
    background-image: url('../logo/logo-current.png'); 
    background-size: 10% 10%;
    background-repeat: no-repeat;
}

.logo-voltage {
    background-image: url('../logo/logo-voltage.png'); 
    background-size: 10% 10%;
    background-repeat: no-repeat;
}

.logo-efficiency {
    background-image: url('../logo/logo-efficiency.png'); 
    background-size: 10% 10%;
    background-repeat: no-repeat;
}

.logo-address {
    background-image: url('../logo/logo-address.png'); 
    background-size: 10% 10%;
    background-repeat: no-repeat;
}

.logo-back {
    background-image: url('../logo/logo-back.png'); 
    background-size: 10% 10%;
    background-repeat: no-repeat;
    
    /* to avoid blocking the inputs  */
    background-position: 270px 270px;
    left: -270px;
    top: -270px;
}

.list-item-value {
    height: 30px;
    line-height: 30px;
    margin-left: 40px;
    vertical-align: middle;
}

.list-item-value-noicon {
    height: 30px;
    line-height: 30px;
    margin-left: 0px;
    vertical-align: middle;
}


.equipment-id-tag {
    background-color: purple;
    color: white;
    font-size: 0.8em;
    padding: 0.25em;
    border-radius: 5px;
}


